/* General Rules */
:root {
  --defaultColor: whitesmoke;
  --mainColor: #1487ff;
  --secondaryColor: #b7b7b7;
  --greyColor: #a7a7a7;
  --blackColor: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--defaultColor);
}

::-webkit-scrollbar-thumb {
  background: var(--blackColor);
  border-radius: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor);
}
